# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
.venv/

# Logs
*.log

# Session / token files (biar aman)
*.session
*.session-journal

# Config / credentials
config.json
*.env

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
